# Docker ignore file for donation-service

# Dependencies
node_modules

# Development files
.git
.github
.vscode
.idea

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage

# Misc
.DS_Store
*.pem

# Documentation
README.md